/* 2.css - Dark Theme */
* {
  background-color: #3f3f3f;
  border-color: #ffffff;
  color: #ffffff;
}

#amt, #happinessamt, #universeamt {
 text-shadow: 0px 0px 0px black, 0 0 1em black, 0 0 0.2em black;
}
